.navbar{
    background-color: black;
    height:60px;
}
.logo{
    color:rgb(230, 132, 4);
    font-size:25px;
}
a{
    color:white;
    text-decoration:none;
    margin-right: 200px;

}
button{
    background-color:rgb(230, 132, 4);
    color:white;
}
